.cell{
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
}
#gameboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
}
.color{
    background-color: brown;
}
.play-again{
    visibility: hidden;
}
.btn-visible{
   visibility: visible;
}

.win{
    height: 1rem;
}
